@-webkit-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#leftpannel {
  padding: 0px; }
  #leftpannel > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-right: 1px solid #aac6c4;
    border-right: 1px solid #aac6c4;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: #d5dddc;
    background: -webkit-linear-gradient(legacy-direction(340deg), #d5dddc 0%, #edf2f5 31%, white 100%);
    background: linear-gradient(340deg, #d5dddc 0%, #edf2f5 31%, white 100%); }
  #leftpannel > div:last-child li.title {
    background: #aac6c4 !important; }
  #leftpannel ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    #leftpannel ul li {
      text-indent: 0px;
      border-bottom: 1px solid #aac6c4;
      background-color: transparent;
      border-radius: 0px;
      border-left-width: 0px;
      border-right-width: 0px; }
      #leftpannel ul li.title {
        font-weight: bold;
        font-size: 1.2em;
        border-bottom: 1px solid #aac6c4;
        background: #aac6c4;
        background: -webkit-linear-gradient(legacy-direction(270deg), #aac6c4 0%, #bdd5e3 31%, #dfebf1 100%);
        background: linear-gradient(270deg, #aac6c4 0%, #bdd5e3 31%, #dfebf1 100%); }
      #leftpannel ul li.add {
        color: #aac6c4;
        cursor: pointer; }
      #leftpannel ul li:hover {
        background-color: #f0f0f0;
        color: black; }
      #leftpannel ul li.selected, #leftpannel ul li.connected {
        background-color: #dff0d8; }
        #leftpannel ul li.selected:hover, #leftpannel ul li.connected:hover {
          background-color: #a3d48e; }
      #leftpannel ul li.running {
        background-color: #F7ECA1; }
        #leftpannel ul li.running:hover {
          background-color: #efd943; }
      #leftpannel ul li.error {
        background-color: #E8B7B7; }
        #leftpannel ul li.error:hover {
          background-color: #cf6a6a; }
      #leftpannel ul li .configuremethod {
        cursor: pointer; }
      #leftpannel ul li.instrument {
        cursor: pointer; }
        #leftpannel ul li.instrument.connecting {
          cursor: default;
          background-color: #E8DBC5;
          color: #666666; }
          #leftpannel ul li.instrument.connecting .connecting.glyphicon-refresh {
            -webkit-animation: spin 4s linear infinite;
            -moz-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite; }

[contenteditable="true"].single-line {
  white-space: nowrap;
  width: 200px;
  overflow: hidden; }
  [contenteditable="true"].single-line br {
    display: none; }
  [contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap; }

#bottompannel {
  position: fixed;
  bottom: 0px;
  width: 100%; }
  #bottompannel .panel-heading {
    background-color: #aac6c4; }

#grid {
  padding: 0px;
  margin: 0px; }
  #grid #header {
    height: 45px;
    background-color: #aac6c4;
    color: #505050;
    width: 100%;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  #grid #header #header-main {
    line-height: 35px; }

/*# sourceMappingURL=main.css.map */