html {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	position: relative;
	padding: 0px;
	margin: 0px;
	min-height: 100%;

}

#header {
	height: 45px;
	background-color: #f0f0f0;
	color: #505050;
	
	width: 100%;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #505050;
}

#header #header-main {
	line-height: 35px;
}


#console-pannel {
	position: relative;
	margin-bottom: -200px;
	height: 200px;
	width: 100%;
	margin-bottom: 0px;
}

#console-pannel .time {
	width: 100px;
}

#console-main-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc( 200px - 73px );
}

#grid {
	height: calc( 100vh - 200px - 45px );
	display: block;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

#container {
	position: relative;
	height: 100vh;
}
/*

#console-pannel tr {
	display: block;
    width: 100%;
}
*/
.wrapper {
	position: absolute;
}



.overlay {
	position: absolute;
	background: rgba( 0, 0, 0, 0.1 );
}

.module > .title {

	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	color: rgba( 50, 50, 50, 1 );
	border-top: 1px solid rgba( 50, 50, 50, 0.4 );
	border-bottom: 1px solid rgba( 50, 50, 50, 0.4 );

	background: #f0f0f0; /* Old browsers */

}

.cleaner {
	clear: both;
}

#more-cfg-pannel {
	display: none;
	
	background-color: #f0f0f0;
	position: absolute;
	width: 100%;
	z-index: 10000;
	right: 0px;
	top: 44px;
	box-sizing: border-box;
	border-bottom: 1px solid #505050;
}
