html {
	height: 100%;
}

body {
	position: relative;
	padding: 0px;
	margin: 0px;
	min-height: 100%;

}


#console-pannel {
	position: relative;
	margin-bottom: -200px;
	height: 200px;
	width: 100%;
	margin-bottom: 0px;
}

#console-pannel .time {
	width: 100px;
}

#console-main-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc( 200px - 73px );
}

#container {
	position: relative;
	height: 100vh;
}
/*

#console-pannel tr {
	display: block;
    width: 100%;
}
*/
.wrapper {
	position: absolute;
}

.overlay {
	position: absolute;
	background: rgba( 0, 0, 0, 0.1 );
}
