.display-legend.module table {
	width: 100%;
}


.display-legend.module table tr td {
	border-bottom: 1px solid #444444;
}


.display-legend.module table tr th {
	height: 30px;
	border-bottom: 2px solid #444444;
	background-color: #f0f0f0;
}


.display-legend.module table td {
	height: 20px;
	line-height: 20px;
	padding: 5px;
	text-align: center;
}