
.alpaca-container-item {
	margin: 5px;		
}

.alpaca-array-actionbar-action {
	margin: 0px 4px;
	width: 16px;
	height: 16px;
	background-image: url("/client/lib/jquery-ui/themes/ui-lightness/images/ui-icons_222222_256x240.png");
	float: left;
}

button[data-alpaca-array-actionbar-action="add"] {
	background-position: -16px -128px;
}

.alpaca-container-label {
	font-size: 1.3em;
	margin-top: 5px;
}

.alpaca-container {
	border-bottom: 1px solid #c0c0c0;

	.alpaca-container {
		border-bottom: none;
	}

}




.alpaca-control-label {
	float: left;
	width: 120px;
}