.display-status.module div {
	font-weight: bold;
}

.display-status.module div.message-error {
	color: rgb(220, 20, 10 );
}

.display-status.module div.message-process {
	color: rgb( 20, 20, 230 );
}

.display-status.module div.message-ok {
	color: rgb( 20, 170, 30 );
}

.display-status.module div.message-neutral {
	color: grey;
}
