/*
.module.keithley-iv td {
	padding: 5px;
}

.module.keithley-iv td.label {
	font-weight: bold;
	text-align: right;
}

.module.keithley-iv input {
	text-align: center;
	border: 1px solid #c0c0c0;
}*/